.hero {
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .button {
            margin: 0 auto;
        }

        @media (min-width: 768px) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg-tablet.jpg);
        }

         @media (min-width: 1200px) {
            max-width: 1600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/hero-bg.jpg);
         }
}

.hero,
.footer {
    background-color: #2F303A;
}

.hero__title {
    margin: 0 auto 30px auto;
    min-width: 320px;
    max-width: 360px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    // @media (min-width: 1200px) {
    //     width: 696px;
    //     font-size: 44px;
    //     line-height: 1.36;
    // }
}

.hero__button {
    display: block;
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border-radius: 4px;

}

